<div class="h-screen flex flex-col items-center justify-center bg-dark">
  <h1 class="text-white text-3xl font-bold mb-8">Gestão de Eventos</h1>

  <div class="max-w-md w-full p-4 space-y-6">
    <a routerLink="/eventos" class="card flex flex-col items-center justify-center cursor-pointer shadow-md border border-gray-200 rounded-lg p-6 transition transform hover:scale-105">
      <img src="https://images.pexels.com/photos/3285399/pexels-photo-3285399.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load" alt="Eventos" class="w-16 h-16 mb-4">
      <h2 class="text-xl font-semibold text-white">Eventos</h2>
    </a>

    <a routerLink="/participantes" class="card flex flex-col items-center justify-center cursor-pointer shadow-md border border-gray-200 rounded-lg p-6 transition transform hover:scale-105">
      <img src="https://images.pexels.com/photos/3285399/pexels-photo-3285399.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load" alt="Utilizadores" class="w-16 h-16 mb-4">
      <h2 class="text-xl font-semibold text-white">Participantes</h2>
    </a>
  </div>
</div>
